// Header
//------------------------------------------------------------
//


.header {
    width: 100%;
    height: rem-calc(100);
    text-align: center;
    z-index: 2;
    position: fixed;
    @include transition(all .5s ease);

    &.sticky {
        height: 70px;
        background: $dark-color;
    }

    h1 {
        margin: 0;
        font: {
            weight: 100;
            family: $base-font-light;
        }
        @include transition(all .5s ease);
    }

    .main-nav {
        @extend %col;
        @include col(12);
        top: rem-calc(8);
        position: relative;
        @include transition(all .5s ease);
    }
}