// Layout
//------------------------------------------------------------
//


.inner-content {
    @extend %row;
}


.sticky {
    h1 {
        color: $light-color;
        font-size: rem-calc(24);

        @include screen($medium) {
            font-size: rem-calc(30);
        }
    }

    .toogle-menu {
        color: $light-color;
        border: 1px solid #ffb3b0;
        background: $brand-primary;
    }

    .hamburger-icon, .hamburger-icon:before, .hamburger-icon:after {
        background: $light-color;
    }

    .main-nav {
        top: rem-calc(6);
    }

    .drop-down-menu {
        background: $brand-primary;

        @include screen($medium) {
            border: 1px solid #ffb3b0;
        }

        > li {
            > a {
                color: $light-color;

                &:hover {
                    background: #f9807b;
                }

                .ico {
                    color: $light-color;
                }
            }
        }
    }

    .drop-down {
        background: $brand-primary;

        li {
            border-bottom: 1px solid #ffb3b0;

            &:first-child {
                a {
                    &:before {
                        border-bottom: 8px solid $brand-primary;
                    }
                }
            }

            &:last-child {
                border-bottom: none;
            }

            a {
                color: $light-color;

                &:hover {
                    background: #f9807b;
                }
            }
        }
    }
}


.headline {
    @extend %row;
    padding: rem-calc(25 15);
    text-align: center;

    h3 {
        font-weight: 400;
        font-family: $base-font-strong;
    }

    h4 {
        font-family: $base-font-light;
    }
}


%block {
    @extend %col;
}

%block-inner {
    @extend %panel;
}


%caption {
    @extend %col;
    @include col(12);
    line-height: 2;
    border-bottom: $base-border;
    text-transform: uppercase;
}


.sub-caption {
    font-weight: 100;
    font-style: italic;
    font-size: rem-calc(16);
    color: darken($light-color, 30%);
    text-transform: none;
    border: none;

    &:after {
        content: "";
        width: 60%;
        height: 1px;
        left: 50%;
        bottom: 0;
        position: absolute;
        background: darken($light-color, 15%);
        @include transform(translateX(-50%));

        @include screen($large) {
            width: 30%;
        }
    }

    @include screen($medium) {
        min-width: 50%;
        font-size: rem-calc(18);
    }

    @include screen($large) {
        min-width: 30%;
        font-size: rem-calc(20);
    }
}

