// Main
//------------------------------------------------------------
//


// Main
.main {
    margin: rem-calc(480 0 0);
    background: $light-color;
}


// Content
.content {
    padding: rem-calc(25 0);
    text-align: center;
}


// Captions
.caption {
    @extend %caption;
}


// Grid-System
.grid-system {
    background: #def5ff;

    h6 {
        margin: rem-calc(0 0 15);
    }

    .grid-features {
        @include screen($medium) {
            @include col(5);
        }
    }

    .how-grid-works {
        @include screen($medium) {
            @include col(4);
        }
    }

    .grid-images {
        @include screen($medium) {
            @include col(3);
        }
    }
}

.grid-features,
.how-grid-works,
.grid-images {
    @extend %block;
    text-align: left;
}

.grid-content {
    @extend %block-inner;
}

.grid-images {
    ul {
        @extend %reset-list;
    }

    li {
        @extend %col;
        @include col(6);
        margin: rem-calc(0 0 30);

        &:nth-child(2n+1) {
            padding-left: 0;
        }

        &:nth-child(2n) {
            padding-right: 0;
        }

        &:nth-last-child(1),
        &:nth-last-child(2) {
            margin-bottom: 0;
        }
    }

    img {
        border-radius: $global-radius;
        border: 1px solid transparent;
        @include transition(all .35s ease);

        &:hover {
            border: 1px solid $light-color;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(102, 175, 233, .6);
        }
    }
}


// Button-Samples
.buttons {
    ul {
        @extend %reset-list;
        font-size: 0;
    }

    li {
        margin: rem-calc(0 0 15);

        @include screen($medium) {
            width: 33.3333%;
            display: inline-block;
            margin: rem-calc(0 10 15);
        }

        @include screen($large) {
            width: auto;
        }
    }
}

.button-samples,
.button-sizes {
    @extend %col;
    @include col(12);
}

.button-sizes {
    .default-button {
        @include btn($btn-bg: $btn-brand-color);
    }
}



// Forms
.forms {
    background: darken($light-color, 4%);
}

.form-example,
.custom-form-example {
    @extend %col;
    @include col(12);
    text-align: left;

    @include screen($medium) {
        @include col(6);
    }

    input[type="submit"] {
        float: right;
    }

    ul {
        @extend %reset-list;
    }
}

.location-selection,
.city-selection {
    .custom-inputs {
        display: block;
    }

    select {
        margin: 0;
    }
}

.city-selection {
    @extend %col;
    margin: rem-calc(17 0 0);

    @include screen($medium) {
        @include col(6);
    }

    > label {
        display: block;
    }
}


// Alerts
.alerts-samples {
    @extend %col;
    @include col(12);
    font-size: 0;
}

.alert {
    @extend %alert;
    margin: rem-calc(0 0 15);
}

.info-alert {
    @extend %info-alert;
}

.success-alert {
    @extend %success-alert;
}

.warning-alert {
    @extend %warning-alert;
}

.error-alert {
    @extend %error-alert;
}

