// Main
//------------------------------------------------------------
//


// Main
.main {
    top: 480px;
    width: 100%;
    z-index: 1;
    text-align: center;
    position: absolute;
    background: $light-color;
}


// Content
.content {
    padding: rem-calc(25 0);

    h5 {
        padding-bottom: rem-calc(10);
        border-bottom: $base-border;
        text-transform: uppercase;
    }

    h6 {
        margin: rem-calc(0 0 15);
    }
}


// Captions
.grid-caption,
.buttons-caption {
    @extend %caption;
}


// Grid-System
.grid-system {
    background: #def5ff;

    .grid-features {
        @include screen($medium) {
            @include col(5);
        }
    }

    .how-grid-works {
        @include screen($medium) {
            @include col(4);
        }
    }

    .grid-images {
        @include screen($medium) {
            @include col(3);
        }
    }
}

.grid-features,
.how-grid-works,
.grid-images {
    @extend %block;
    text-align: left;
}

.grid-content {
    @extend %block-inner;
}

.grid-images {
    ul {
        @extend %list-reset;
    }

    li {
        @extend %col;
        @include col(6);
        margin: rem-calc(0 0 30);

        &:nth-child(2n+1) {
            padding-left: 0;
        }

        &:nth-child(2n) {
            padding-right: 0;
        }

        &:nth-last-child(1),
        &:nth-last-child(2) {
            margin-bottom: 0;
        }
    }
}


// Button-Samples
.buttons {
    ul {
        @extend %list-reset;
        font-size: 0;
    }

    li {
        margin: rem-calc(0 0 15);

        @include screen($medium) {
            width: 33.3333%;
            display: inline-block;
            margin: rem-calc(0 10 15);
        }

        @include screen($large) {
            width: auto;
        }
    }

    button {
        @extend %btn;
        @include btn();
    }

    .default-button {
        @include btn($btn-bg: $btn-default-color);
    }

    .brand-button {
        @include btn($btn-bg: $btn-brand-color, $btn-color: $light-color);
    }

    .info-button {
        @include btn($btn-bg: $info-color);
    }

    .success-button {
        @include btn($btn-bg: $success-color, $btn-color: $light-color);
    }

    .warning-button {
        @include btn($btn-bg: $warning-color, $btn-color: $light-color);
    }

    .error-button {
        @include btn($btn-bg: $error-color, $btn-color: $light-color);
    }

    .tiny-button {
        @include btn($btn-padding: $btn-tny, $btn-font-size: $btn-tny-font-size);
    }

    .small-button {
        @include btn($btn-padding: $btn-sml, $btn-font-size: $btn-sml-font-size);
    }

    .medium-button {
        @include btn($btn-padding: $btn-med, $btn-font-size: $btn-med-font-size);
    }

    .large-button {
        @include btn($btn-padding: $btn-lrg, $btn-font-size: $btn-lrg-font-size);
    }
}

.button-samples,
.button-sizes {
    @extend %col;
    @include col(12);
}

.button-sizes {
    .default-button {
        @include btn($btn-bg: $btn-brand-color);
    }
}





