// Grid
//------------------------------------------------------------
//


// Grid Variables
// --------------------------------------------------

$col-total: 12 !default;
$row-width: rem-calc(1280) !default;
$col-gutter: rem-calc(15) !default;


// Grid Row & Columns
// --------------------------------------------------

%row {
    width: 100%;
    margin: 0 auto;
    @extend %clearfix;
}

@mixin row() {
    @extend %row;
    max-width: $row-width;
}

// --------------------------------------------------

%col {
    float: left;
    width: 100%;
    position: relative;
    padding: 0 $col-gutter;
}

@mixin col($col) {
    width: percentage($col / $col-total);
}


// Placeholder Helper for styling content inside columns
// --------------------------------------------------

%panel {
    padding: rem-calc(15);
    margin: rem-calc(0 0 15);
    background: $light-color;
    border-radius: $global-radius;

    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    @include screen($large) {
        margin: rem-calc(0 0 30);
    }
}

