// Buttons
//------------------------------------------------------------
//


// Buttons Variables
// --------------------------------------------------

$btn-tny: rem-calc(6 10);
$btn-sml: rem-calc(8 12);
$btn-med: rem-calc(12 14);
$btn-lrg: rem-calc(16 20);

$btn-tny-font-size: rem-calc(12);
$btn-sml-font-size: rem-calc(15);
$btn-med-font-size: rem-calc(18);
$btn-lrg-font-size: rem-calc(22);

$btn-brand-color: #078fd8;
$btn-default-color: #fff;


// Button Placeholder & Mixin
// --------------------------------------------------

%btn {
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border: none;
    line-height: 1;
    border-radius: $global-radius;
    transition: all .35s ease;
    @include user-select(none);

    @include screen ($large) {
        width: auto;
    }
}

@mixin btn($btn-bg: $btn-brand-color, $btn-color: false, $btn-font-size: rem-calc(16), $btn-border-color: false, $btn-padding: $btn-med, $btn-margin: false, $btn-width: false) {
    padding: $btn-padding;
    font-size: $btn-font-size;
    background: $btn-bg;
    @include match-colors($btn-bg, $btn-color);

    @if ($btn-width) {
        width: $btn-width;
    }

    @if ($btn-margin) {
        margin: $btn-margin;
    }

    @if ($btn-border-color) {
        border: 1px solid $btn-border-color;
    } @else {
        border: 1px solid darken($btn-bg, 9%);
    }

    &:hover {
        background: lighten($btn-bg, 8%);
    }

    &:active,
    &:focus {
        background: darken($btn-bg, 8%);
    }

    &:disabled {
        color: rgba(#000, .3);
        cursor: default;
        pointer-events: none;
        border-color: darken($light-color, 15%);
        background: darken($light-color, 6%);
    }
}

