// Drop Down
//------------------------------------------------------------
//


// Drop Down Toogle
// --------------------------------------------------

.toogle-menu {
    display: block;
    padding: rem-calc(15 25);
    color: $light-color;
    cursor: pointer;
    position: relative;
    font-size: rem-calc(13);
    text-align: right;
    text-transform: uppercase;
    user-select: none;
    border-radius: $global-radius;
    background: rgba($dark-color, .65);

    span {
        margin: rem-calc(0 15 0 0);

        &:after {
            content: "";
            width: 16px;
            right: rem-calc(15);
            position: absolute;
            box-shadow: 0 0 0 1px $light-color, 0 7px 0 1px $light-color, 0 14px 0 1px $light-color;
        }
    }

    @include screen($medium) {
        display: none;
    }
}


// Drop Down Menu
// --------------------------------------------------

.drop-down-menu {
    @extend %list-reset;
    width: 100%;
    font-size: 0;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    transition: all .5s ease;
    background: rgba($dark-color, .65);
    border-radius: $global-radius;

    &.sticky {
        background: $dark-color;
        border: 1px solid rgba($light-color, .2);
    }

    &.expanded {
        max-height: 1000px;
        transition: all 1.4s ease;
    }

    @include screen($medium) {
        float: right;
        max-height: 100%;
        overflow: visible;
        text-align: center;
    }

    > li {
        display: block;
        position: relative;
        font-size: rem-calc(14);
        border-bottom: 1px solid rgba($light-color, .2);

        @include screen($medium) {
            display: inline-block;
            border-bottom: none;
            border-right: 1px solid rgba($light-color, .2);
        }

        &:first-child {
            border-top: 1px solid rgba($light-color, .2);

            @include screen($medium) {
                border-top: none;
                border-left: 1px solid rgba($light-color, .2);
            }
        }

        &:hover {
            > .drop-down {
                margin: rem-calc(10 0 0);
                opacity: 1;
                visibility: visible;
            }
        }

        > a {
            display: block;
            color: rgba($light-color, .7);
            padding: rem-calc(15 25);
            text-transform: uppercase;

            &:hover {
                color: $brand-primary;
                background: $dark-color;
            }
        }
    }

    .has-drop-down {
        > a {
            &:after {
                content: "▾";
                float: right;
                font-size: rem-calc(14);
                margin: rem-calc(-1 -15 0 10);
                transition: all .15s ease;
            }
        }
    }
}

.drop-down {
    @extend %list-reset;
    left: 0;
    right: 0;
    opacity: 0;
    margin: rem-calc(30 0 0);
    visibility: hidden;
    position: absolute;
    background: rgba($dark-color, .8);
    transition: all .15s ease;
    border-radius: $global-radius;

    &:before {
        content: "";
        height: rem-calc(12);
        top: rem-calc(-12);
        left: 0;
        right: 0;
        position: absolute;
    }

    li {
        border-bottom: 1px solid rgba($light-color, .2);

        &:first-child {
            a {
                border-radius: $global-radius $global-radius 0 0;
            }
        }

        &:last-child {
            border-bottom: none;

            a {
                border-radius: 0 0 $global-radius $global-radius;
            }
        }
    }

    a {
        display: block;
        position: relative;
        padding: rem-calc(15 10);
        color: rgba($light-color, .7);

        &:hover {
            color: $light-color;
            background: $brand-primary;
        }
    }

    > li {
        &:first-child {
            a {
                &:before {
                    content: "";
                    width: 0;
                    height: 0;
                    top: rem-calc(-8);
                    left: 50%;
                    position: absolute;
                    transition: all .3s ease;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 8px solid rgba($dark-color, .8);
                    transform: translateX(-50%);
                }

                &:hover {
                    &:before {
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-bottom: 8px solid $brand-primary;
                    }
                }
            }
        }
    }

    li {
        &.has-drop-down {
            position: relative;

            > a {
                &:after {
                    content: "»";
                    float: right;
                    font-size: rem-calc(18);
                    margin: rem-calc(-2 0 0);
                    transition: all .15s ease;
                }
            }
        }

        &:hover {
            > .drop-down {
                margin: 0;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .drop-down {
        width: 100%;
        top: 0;
        left: -100%;
        opacity: 0;
        margin: rem-calc(20 0 0);
        visibility: hidden;

        > li {
            &:first-child {
                a {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }
}

