// Base
//------------------------------------------------------------
//


*, *:before, *:after {
    box-sizing: border-box !important;
}

body, html {
    color: $base-font-color;
    font: {
        size: $base-font-size;
        family: $body-font-family;
    }
}

img { max-width: 100%; }

a {
    line-height: 1;
    color: $brand-primary;
    text-decoration: none;
    transition: all .35s ease;

    &:hover {
        color: lighten($brand-primary, 20%);
    }

    &:active {
        color: darken($brand-primary, 10%);
    }
}
