// Base
//------------------------------------------------------------
//


*, *:before, *:after {
    box-sizing: border-box !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

body, html {
    color: $base-font-color;
    line-height: $base-line-height;
    font: {
        size: $base-font-size;
        family: $base-font-regular;
    }
}

img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

a {
    line-height: 1;
    color: $brand-primary;
    text-decoration: none;
    transition: all .35s ease;

    &:hover {
        color: lighten($brand-primary, 20%);
    }

    &:active {
        color: darken($brand-primary, 10%);
    }
}
