@font-face {
    font-family: 'UIToolKity';
    src:url('../../assets/fonts/UIToolKity.eot?414bbo');
    src:url('../../assets/fonts/UIToolKity.eot?#iefix414bbo') format('embedded-opentype'),
        url('../../assets/fonts/UIToolKity.woff?414bbo') format('woff'),
        url('../../assets/fonts/UIToolKity.ttf?414bbo') format('truetype'),
        url('../../assets/fonts/UIToolKity.svg?414bbo#UIToolKity') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ico {
    font-family: 'UIToolKity';
    font-size: $base-font-size;
    line-height: 1;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    vertical-align: middle;
    @include font-smoothing();
}

.ico-arrow-down:before {
    content: "\e600";
}
.ico-arrow-up:before {
    content: "\e601";
}
.ico-checkmark:before {
    content: "\e602";
}