// Home
//------------------------------------------------------------
//


.hero {
    width: 100%;
    height: rem-calc(480);
    padding-top: rem-calc(120);
    top: 0;
    z-index: -1;
    text-align: center;
    position: fixed;
    background: url("../../assets/images/home/galaxy.jpg") no-repeat center top / cover;

    @include screen($medium) {
        padding-top: rem-calc(160);
    }

    .title {
        @extend %row;
    }

    h2 {
        @extend %col;
        @include col(12);
        color: $light-color;
        font-weight: 400;
        font-family: $base-font-strong;

        span {
            display: inline-block;
            margin: rem-calc(30 0 0);
            color: $light-color;
            font-size: $h3-sml-size;
            font-family: $base-font-light;

            @include screen($medium) {
                font-size: $h3-med-size;
            }

            @include screen($large) {
                width: 80%;
                font-size: $h3-lrg-size;
            }
        }
    }
}

