// Home
//------------------------------------------------------------
//

.header {
    padding: rem-calc(10 0);
    background: darken($light-color, 60%);
    // background: linear-gradient(to bottom, #ff0000 0%, #000 100%);
}


.grid,
.row {
    @include row;
}

.box {
    @extend %col;
    @include col(4);
}

.block {
    @extend %col;
    @include col(6);
}

.blockwide {
    @extend %col;
    @include col(12);
}


.inner {
    @extend %panel;
}


.main-nav {
    float: right;
}

.inner-content {
    @include row;
}

.container {
    @include row;
}

.logo {
    height: 100px;
    @extend %col;
    @include col(12);

    @include screen($medium) {
        @include col(4);
        background: red;
    }

    @include screen($medium, $landscape) {
        @include col(6);
        background: green;
    }
}


.failure {
    @extend %alert-error;
}

.success {
    @extend %alert-success;
}

.warning {
    @extend %alert-warning;
}

.info {
    @extend %alert-info;
}


.sprite {
    display: block;
    @include retina-icon("heart", true);
}


button {
    @extend %btn;
    @include btn();
}

input[type="submit"] {
    @extend %btn;
    @include btn($btn-padding: $btn-tny, $btn-font-size: $btn-tny-font-size, $btn-margin: rem-calc(0 0 15));

    @include screen($large) {
        margin: 0;
    }
}

button[type="submit"] {
    @extend %btn;
    @include btn($btn-padding: $btn-sml, $btn-font-size: $btn-sml-font-size);
}

button[type="button"] {
    @extend %btn;
    @include btn($btn-padding: $btn-med, $btn-font-size: $btn-med-font-size, $btn-bg: $btn-default-color);
}

.button {
    @extend %btn;
    @include btn($btn-padding: $btn-lrg, $btn-font-size: $btn-lrg-font-size, $btn-bg: $error-color, $btn-color: $light-color);

    &:hover {
        color: $light-color;
    }
}

